.boardContainer{
    display: inline-block;
}

.board {
    height: 80vh;
    width: 80vh;
    padding: 0.9vh;
    background: grey;
    display: grid;
    grid-template-rows: repeat(17, .80fr);
    grid-template-columns: repeat(17, .80fr);
    column-gap: 0.10vh;
    row-gap: 0.10vh;
}

.square {
    height: 3vh;
    width: 3vh;
    border: 0.10vh solid black;
    border-radius: 4px;
    margin: 0;
}